<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mettacenter.dailymettaapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/charka_wheel_small_2015"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--@mipmap/metta_center_wheel-->

        <receiver android:name=".BootReceiverC">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <service android:name=".NotificationServiceC">
        </service>

        <service android:name=".BackgroundDownloadServiceC">
        </service>

        <activity
            android:name=".ArticleActivityC"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
            Below Differs from what we see here:
            http://developer.android.com/training/search/setup.html
            TODO: Investigate why
            -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivityC" />
        </activity>

        <activity
            android:name=".SearchResultsActivityC"
            android:label="TestingLabel"
            android:parentActivityName=".ArticleActivityC">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArticleActivityC"/>
        </activity>

        <activity
            android:name=".SettingsActivityC"
            android:label="Settings"
            android:parentActivityName=".ArticleActivityC">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArticleActivityC"/>
        </activity>

        <activity
            android:name=".FavoritesActivityC"
            android:label="Favorites"
            android:parentActivityName=".ArticleActivityC">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArticleActivityC"/>
        </activity>

        <activity
            android:name=".AboutActivityC"
            android:label="About"
            android:parentActivityName=".ArticleActivityC">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArticleActivityC"/>
        </activity>

        <provider
            android:name=".ContentProviderM"
            android:authorities="org.mettacenter.dailymettaapp"
            android:exported="true" >
        </provider>

        <receiver android:name=".ConnectivityChangeReceiverC" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
